.input_group{
    @apply flex border rounded-xl;
    position: relative;
}

.input_text{
    @apply w-full py-3 px-6 border rounded-xl bg-slate-50;
    @apply focus:outline-none border-none 
}

.button{
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 border-blue-500 rounded-md transition-all;
    @apply py-3 text-gray-50 text-lg border;
}

.button:hover{
    @apply bg-gradient-to-r from-gray-50 to-gray-100  transition-all;
    @apply text-gray-700;
}

.button_custom{
    @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-200 transition-all;
}

.button_custom:hover{
    @apply transition-all;
    transform: scale(103%)
}




.input_text + *{
    color: #CBD5E1;
}

.input_text:focus + *{
    color: #6366f1;
}

.input_text:not([type=email]) ~ span:hover *{
    color: #6366f1;
    cursor: pointer;
}